@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.home-title {
    font-size: 2em;
    font-family: 'Montserrat', serif, sans-serif;
    margin-top: 10px;
}

nav a {
    background-color: #FDCA40;
    text-align: center;
    color: #2176FF;
    text-decoration: none;
    padding: 35px;
}

nav a:hover,
.join:hover {
    background-color: #F79824;
    color: white;
}

main section {
    background-color: #F79824;
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #2176FF;
}

body {
    background-color: #FDCA40;
    font-family: 'Nunito', 'Montserrat', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#logo_link {
    padding-top: 5px;
}

h2 {
    margin: 0;
}

header {
    background-color: #31393C;
}


.msg {
    background-color: #2176FF;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: white;
    font-family: 'Montserrat';
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #31393C;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #2176FF;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;

}

footer .social img {
    padding-top: 15px;
}

h4 {
    color: #31393C;
}

.book,
.join {
    color: #2176FF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    color: white;
}

.logo,
.icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #31393C;
}